/* Estilização do container do post */
.post-container {
    max-width: 750px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFBEF;
    color: #173E44;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.6;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para o título */
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Sora Bold", sans-serif;
  }
  
  /* Estilos para o nome do autor */
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Sora", sans-serif;
  }
  
  /* Estilos para os parágrafos */
  p {
    margin-bottom: 16px;
  }
  
  /* Destacando os subtítulos */
  strong {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
  }
  .post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-voltar, .btn-avancar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-voltar {
    background-color: #173E44;
    color: #FFF;
    border: none;
  }
  
  .btn-avancar {
    background-color: #FED173;
    color: #173E44;
    border: none;
  }
  
  .btn-voltar:hover, .btn-avancar:hover {
    opacity: 0.8;
  }
  